[submodule "ground/Lumos"]
	path = ground/Lumos
	url = https://github.com/ptone/Lumos.git
[submodule "node_code/E131"]
	path = libraries/E131
	url = https://github.com/forkineye/E131.git
[submodule "libraries/ESPAsyncUDP-master"]
	path = libraries/ESPAsyncUDP-master
	url = https://github.com/me-no-dev/ESPAsyncUDP.git
[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
